<div id="<%= dom_id measured_ingredient %>">
  <p>
    <strong>Dish:</strong>
    <%= measured_ingredient.dish_id %>
  </p>

  <p>
    <strong>Ingredient:</strong>
    <%= measured_ingredient.ingredient_id %>
  </p>

  <p>
    <strong>Measurement:</strong>
    <%= measured_ingredient.measurement_id %>
  </p>

</div>
