<h1>Editing measured ingredient</h1>

<%= render "form", measured_ingredient: @measured_ingredient %>

<br>

<div>
  <%= link_to "Show this measured ingredient", @measured_ingredient %> |
  <%= link_to "Back to measured ingredients", measured_ingredients_path %>
</div>
